@model LR6.Models.User

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
</head>
<body>
    <h1>Pizza Shop Registration</h1>
    <form method="post" action="Confirm">
        <label for="name">Name:</label>
        <input type="text" id="name" name="Name"><br>
        <label for="age">Age:</label>
        <input type="number" id="age" name="Age"><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>