@model LR6.Models.Product[]

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ordered Products</title>
</head>
<body>
    <h1>Ordered Products</h1>
    @foreach (var product in Model)
    {
    <div class="product">
        <p>Name: @product.Name</p>
        <p>Price: @product.Price</p>
        <p>Quantity: @product.Quantity</p>
    </div>
    }
</body>
</html>