
@model LR7.Models.FileModel

<form method="post">
    <div>
        <label for="fileName">Назва файлу:</label>
        <input type="text" id="fileName" name="fileName" required>
    </div>
    <div>
        <label for="firstName">Ім'я:</label>
        <input type="text" id="firstName" name="firstName" required>
    </div>
    <div>
        <label for="lastName">Прізвище:</label>
        <input type="text" id="lastName" name="lastName" required>
    </div>
    <button type="submit">Продовжити</button>
</form>